*{
    margin: 0px;
    padding: 0px;
}
body{ 
    font-family: sans-serif;
}
/* .hero-sec */
HEADER{
    color: #ffffff;
}
.text-container{
    height: 266px;
    font-size: 16px;
    padding: 64px 0px 0px 16px;
    margin: 0px 33px; 
}
.hero-sec{
    background-image: url("software-developer-6521720_1280.jpg");
    background-size: cover;
    height: 740px;
    width: 100%;
}
.text{
    font-size: 72px;
}
.lg-text{
    font-size: 24px;
}
h1{
    padding-left: 70px;
}

/* .black-box */
.black-box{
    height: 175px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.black-box h2{
    height: 135px;
    font-size: 72px;
}
span{
    font-size: 96px;
}
/* headings */
.containe{   
    background-color: #e2e7e2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 100px 0px 100px;
    padding-left: 200px;
}



/* work-sec */
.work-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e2;
    padding-top:75px;
    padding-bottom:34px;
    height: 750px;
}
.boxs{
    /* border:2px solid black; */
    border-radius: 10px;
    height: 560px;
    background-color: white;
    width: 25%;
    padding: 5px 0px 15px;
    margin: 15px;
}
.box-content a {
    text-decoration: none;
}
.box-content a:hover{
    color: rgb(13, 86, 55);
}
.box-img{
    height: 325px;
    background-size: cover;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box-content{
    margin-left: 15px;
    margin-right: 15px;
}

/* info-sec */

.info-sec{
    padding: 30px;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    height: 350px;
    background-color: #e2e7e2;
}
h2{
    padding-left: 70px;
}
.contact,.about{
    height: 250px;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
} 

/* footer */
.text-muted{
    padding-top:50px;
}
